
// ----------------------- FONTS ----------------------------------------
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400&family=Poppins:wght@200;400&display=swap');

$sidebar-font-family:  "DM Sans", "Poppins", Helvetica;
$main-font-family: 'DM Sans', sans-serif; // Font family for the main center column
$app-title-font-family: "Poppins", sans-serif; // Font family for th

// ----------------------COLORS------------------------------------------
$sidebar-divider: rgb(193, 193, 193);
$sidebar-color-bg: #f9f7f7; // Sidebar background color
$sidebar-color-txt-headers: #333; // Dark grey font color for the headers
$sidebar-color-txt-links: #6f6f6f; // Dark grey font color for the links
$strong-blue: #007bff;
$siderbar-color-selected: $strong-blue;
$main-font-color: #555; // Light grey font color for the main center column
$main-divider: rgb(231, 230, 230);




body {
  font-family: $main-font-family; 
  color: $main-font-color;
}

.left-sidebar, .right-sidebar {
  overflow-y: auto; 
}

.left-sidebar .sidebar-content,
.right-sidebar .sidebar-content {
  position: sticky; /* Keep the content fixed within the sidebar */
  top: 0; /* Stick to the top of the sidebar */
  bottom: 0; /* Stick to the bottom of the sidebar */
  padding: 20px; /* Add some padding to the sidebar content */
}

.left-sidebar {
  background-color: $sidebar-color-bg;
  font-family: $sidebar-font-family;
  font-size: 95%;
  color: $sidebar-color-txt-links;  
  min-height: 100vh;

  h1, h2, h3, h4, h5, h6{
    margin-top: 15px;
    margin-bottom: 30px;
    color: $sidebar-color-txt-headers;
  }

  .header {
    padding: 20px;
    height: 25%; /* Set the height to 20% */
    display: flex;
    flex-direction: column;
    align-items: center; /* Center the content horizontally */
    justify-content: center; /* Center the content vertically */
    padding-top: 20px; /* Add spacing from the top */
  }

  .sidebar-avatar-container {
    width: 100px; /* Set the width of the circular container */
    height: 100px; /* Set the height of the circular container */
    border-radius: 50%; /* Create a circular shape */
    overflow: hidden; /* Hide any content that goes beyond the circle */
    margin-bottom: 10px; /* Add spacing between the circle and the name */
  }

  .sidebar-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensure the avatar image covers the circular container */
  }

  .name {
    font-size: 18px; /* Set the font size for the person's name */
    font-weight: 500; /* Make the name bold */
  }

  .main {
    padding: 20px;
    height: 50%;
    border-top: 1px solid $sidebar-divider;
    text-align: left;

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }
  
    li {
      display: flex;
      align-items: center;

      .challenge-icon {
        margin-right: 10px;
      }

      a {
        display: block;
        padding: 5px 5px;
        color: $sidebar-color-txt-links;
        text-decoration: none;
        border: 1px solid transparent; /* To create space for the blue border when selected */
        border-radius: 5px;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  
        &:hover {
          color: white; /* Selected text color */
          border-color:  $siderbar-color-selected;/* Selected border color */
          background-color: $siderbar-color-selected;
        }

        &.active {
          color: $siderbar-color-selected;
        }
      }
    }
  }

  .footer {
    padding: 20px;
    height: 10%;
    flex-grow: 1; /* Take up remaining available space */
    border-top: 1px solid $sidebar-divider;
  }
}

.right-sidebar {
  background-color: $sidebar-color-bg;
  min-height: 100vh;
  display: flex;
  align-items: center; /* Center the content vertically */
  flex-direction: column;
  font-family: $sidebar-font-family;

  .empty {
    height: 25%;
  }


  .title-container {
    background-color: #ffcc00; /* Set the background color for the title container */
    text-align: center;
    height: 60px;
    width: 100%;
    padding-top: 10px;
    border-radius: 5px 5px 0 0;
  }

  .dynamic-rectangle {
    background-color: #ffffff; /* Set the background color for the dynamic rectangle */
    padding: 20px;
    min-height: 100px;
    font-weight: 200;
  }
}

.main-content {
  .navbar-custom {
    height: 100px;
    margin: 50px 50px;
    border-bottom: 1px solid $main-divider;
    display: flex;
    justify-content: space-between; 
    align-items: center;
    padding: 10px; /* Add padding to the header container */

    .flag {
      height: auto;
      width: 50px;
    }

    .header-left {
      display: flex; /* Create a flex container for the header text and image */
      align-items: center;
      img {
        width: 50px; /* Set the width of the image */
        height: auto;
        margin-right: 20px;
        border: 1px solid rgba(0, 0, 255, 0.703);
      }
    }

    h1, h2, h3, h4, h5, h6{
       font-family: $app-title-font-family;
       font-weight: 200;
    }   
  }

  .chat-container{
      margin: 50px 50px;

      .chat-message-left {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
      }

      .chat-message-right {
        display: flex;
        align-items: center;
        margin-bottom: 20px;
        
        justify-content: flex-end; /* Move the message bubble to the right side */
      }

      .avatar-container {
        width: 40px;
        height: 40px;
        border-radius: 50%; /* Circular shape for the avatar container */
        overflow: hidden; /* Hide any overflow to maintain the circle shape */
        margin-right: 15px;

        .right {
          margin-left: 15px;
        }
      }        

      .avatar {
        width: 100%; /* Make the image fill the avatar container */
        height: 100%; /* Make the image fill the avatar container */
        object-fit: cover; /* Maintain the aspect ratio of the image */
      }
      
      .message {
        padding: 10px 15px; /* Add padding inside the chat bubble */
        border-radius: 20px; /* Rounded corners for the chat bubble */
        max-width: 40%; /* Limit the width of the chat bubble */
      }
      

      .chat-message-left .message {
        background-color: #007bff;
        color: white;
      }

      .chat-message-right .message {
        background-color: #28a745;
        color: white;
      }

  }

}